syntax: glob
*.pyc
*.pyo
*.pyd
*.db
*~
#*#
.ipynb_checkpoints
*/build/*
*/*/build/*
build\*
build/*
*/_build/*
*/dist/*
dist\*
*_hidden*
*.so
*.o
*.class
.spyderproject
.rope*
Deconv/fftw_wisdom
*.orig
.DS_Store
*.egg-info*
docs/api/*
docs/html/*
doc/api/*
doc/html/*
.idea
*/_deploy/*
*Pyro_NS_URI
*.sqlite3
*debug.log
*errors.log
*64.pkg
tests/assets/*
tests/cov_html/*
tests/*.html
*.css.map
sample-code/experimenting.ipynb
